{% extends 'base.html.twig' %}



{% block title %}New Films{% endblock %}

{% block body %}
    <form method="post" action="/films/addnew">

        <div class="row">
            <label for="filmname">
                <input type="text" name="nomfilm"  required="required" />
                <select name="cat">
                    {%  for CategorieFilm in categoriefilms %}
                        <option value="{{ CategorieFilm.idCategorie }}">
                            {{ CategorieFilm.nomCategorie}}
                        </option>
                    {% endfor %}
                </select>
                <input type="text" name="lang"  required="required" />
                <input type="text" name="duree" required="required" />
                <input type="file" name="image" required="required" />
                <input type="text" name="desc" required="required" />
                <input type="text" name="utube" required="required" />
                <input type="text" name="rated" required="required" />
                <input type="date" name="date" required="required" />
            </label>
        </div>
        <div class="row">
            <button type="submit">sign up</button>
        </div>
    </form>
{% endblock %}

