<form method="post" action="{{ path('categorie_film_delete', {'idCategorie': categorie_film.idCategorie}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie_film.idCategorie) }}">
    <button class="btn">Delete</button>
</form>
