{% extends 'basefront.html.twig' %}
{% block body %}
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1> {% trans %}Event  - grid{% endtrans %}</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="#">{% trans %}Home{% endtrans %}</a></li>
                            <li> <span class="ion-ios-arrow-right"></span> {% trans %}Event{% endtrans %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-8 col-sm-12 col-xs-12">

                    <div class="flex-wrap-movielist">
                        {% for evenement in evenements %}
                            <div class="movie-item-style-2 movie-item-style-1">



                                <div class="hvr-inner">
                                    <a  href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                </div>
                                <div class="mv-item-infor">
                                    <h6><a href="#">{{evenement.nomevenement }}</a></h6>
                                    <img src="img/{{ evenement.imageEvnement }}"width="100"
                                         height="100">
                                    <p class="rate"><span>{{evenement.description }}</span> </p>
                                    <p class="rate">duree<span>{{evenement.dureeevenement }}</span> jours</p>
                                </div>
                            </div>
                        {% endfor %}




















                    </div>
                    <div class="topbar-filter">
                        <label>Movies per page:</label>
                        <select>
                            <option value="range">20 Movies</option>
                            <option value="saab">10 Movies</option>
                        </select>

                        <div class="pagination2">
                            <span>Page 1 of 2:</span>
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">...</a>
                            <a href="#">78</a>
                            <a href="#">79</a>
                            <a href="#"><i class="ion-arrow-right-b"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="searh-form">
                            <h4 class="sb-title">Search for movie</h4>
                            <form class="form-style-1" method="post" action="/search">
                                <div class="row">
                                    <div class="col-md-12 form-it">
                                        <label>Event name</label>
                                        <input name="search" type="text" id="search" placeholder="Enter keywords">
                                    </div>





                                    
                                    <div class="col-md-12 ">
                                        <input class="submit" type="submit" value="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="ads">
                            <img src="images/uploads/ads1.png" alt="">
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
