{% extends 'basefront.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block body %}
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Room listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> Room listing</li>
                    </ul>
                </div>

                <div class="page-single">
                    <div class="container">
                        <div class="row ipad-width2">
                            test
                        </div>
                    </div>
                </div>

{% endblock %}
